{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "extends": ["airbnb", "prettier", "prettier/react"],
  "globals": {
    "document": true,
    "window": true,
    "process": true
  },
  "rules": {
    "no-return-assign": "off",
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-array-index-key": "off",
    "react/no-danger": "off",
    "react/require-default-props": "off",
    "prettier/prettier": "error"
  }
}
