{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "import/no-extraneous-dependencies": "off",
    "global-require": "off",
    "max-len": "off",
    "quote-props": "off",
    },
  "env": {
    "browser": true,
  },
}
