:root {
  /* Colors */
  --white: #fff;
  --offWhite: #fefefe;
  --black: #222;
  --cement: #2c3e50;
  --lightGray: #ecf0f1;
  --gray: #bdc3c7;
  --primary: #1abc9c;
  --primaryHover: #16a085;
  --secondary: #f39c12;
  --secondaryHover: #e67e22;
  --linkColor: #3498db;

  /* Layout */
  --gutter: 20px;
  --container: 1000px;
}
