@import '../styles/variables';

.header {
  position: relative;
  padding: 30px 0 0;
  margin-bottom: 80px;
  background-color: var(--primary);
  -webkit-font-smoothing: antialiased;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -45px;
    width: 110vw;
    height: 100px;
    background-color: var(--primary);
    transform: rotate(1.5deg);
  }
}

.container {
  composes: container from '../styles/app.css';
  z-index: 1;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.heading {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--white);

  &:focus,
  &:hover {
    color: var(--white)
  };
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuItem {
  margin: 0;
  padding: 0;
}

.menuItemLink {
  display: block;
  padding: 5px;
  margin-left: 5px;
  font-size: 1.1em;
  font-weight: 400;
  color: color(var(--white) a(80%));

  &:focus,
  &:hover {
    color: var(--white);
  }
}

.menuItemLinkActive {
  color: var(--white);
}

.footer {
  background-color: var(--offWhite);
  color: var(--cement);
  padding: 10px 0;
  font-size: 12px;
  text-align: center;
}
