@mixin slide-in-animation {
    animation : slide-in 1s ease-in-out;
}

@keyframes slide-in {
    0% {
        opacity   : 0;
        transform : translateY(50px);
    }

    100% {
        opacity   : 1;
        transform : translateY(0);
    }

}
