/***
 *
 * Home Page Styles
 *
 ***/

.middle-content {
    text-align : center;
    @include slide-in-animation;

    * {
        color : $white;
    }
}

.bio__image {
    width            : rem-calc(240);
    height           : rem-calc(240);
    margin           : 0 auto rem-calc(15) auto;
    border-radius    : 250px;
    background       : #777777;
    background-image : url('https://s3-us-west-2.amazonaws.com/kylecesmatcom.static/assets/kylecesmat-sq.jpg');
    background-size  : cover;
}

.bio__heading {
    margin-bottom : rem-calc(10);
}

.bio__heading--sub {
    font-weight : 200;
}

.bio__links {
    margin-top : rem-calc(20);
    font-size  : rem-calc(12);

    li {
        display : inline-block;
    }

    .a {
        opacity    : .5;
        padding    : rem-calc(5 2);
        transition : opacity 200ms ease;

        &:hover {
            opacity : 1;
        }

    }

}
