/***
 *
 * Site Styles
 *
 ***/

html,
body {
    width       : 100%;
    height      : 100%;
    font-family : $sans;
}

.a {
    text-decoration : none;
}

.page {
    display          : flex;
    align-items      : center;
    justify-content  : center;

    &--home {
        background-image : linear-gradient(-167deg, #3681BB 0%, #1E8EA1 100%);
    }
}
